.custom-background {
    -fx-background-color: #2F1940;
}

.custom-textWhite {
    -fx-text-fill: #ffffff;
}

.custom-textPurple {
    -fx-text-fill: #2F1940;
}

.custom-title {
    -fx-text-fill: #E1B958;
}

.rounded-text-field {
    -fx-background-color: white;
    -fx-background-radius: 15;
    -fx-border-color: gray;
    -fx-border-radius: 15;
    -fx-padding: 5;
}

.table-view .scroll-bar:horizontal,
.table-view .scroll-bar:vertical {
    -fx-opacity: 0; /* Hide the scrollbars */
    -fx-pref-width: 0px; /* resize the scrollbar*/
}

/* General style for table header */
.column-header {
    -fx-background-color: #D9D9D9;
    -fx-text-fill: #000000;
}

/* Specific style for columns 6, 7 and 8 */
.column-header-eye {
    -fx-background-color: #FFFFFF; /* Color of background white */
    -fx-text-fill: #000000; /* Color of text black*/
}

.column-header-edit {
    -fx-background-color: #FFFFFF; /* Color of background white */
    -fx-text-fill: #000000; /* Color of text black */
}

.column-header-trash {
    -fx-background-color: #FFFFFF; /* Color of background white */
    -fx-text-fill: #000000; /* Color of text black */
}

.rounded-button {
    -fx-background-color: #2F1940; /* Color de fondo */
    -fx-text-fill: white; /* Color del texto */
    -fx-font-size: 14px; /* Tamaño de la fuente */
    -fx-padding: 10px 20px; /* Espaciado interno */
    -fx-background-radius: 30px; /* Radio del borde redondeado */
    -fx-border-radius: 30px; /* Radio del borde redondeado */
    -fx-border-color: #000000; /* Color del borde */
    -fx-border-width: 1px; /* Ancho del borde */
}

.rounded-button:hover {
    -fx-background-color: #3D2A5D; /* Color más claro cuando se pasa el ratón */
}

.rounded-button:pressed {
    -fx-background-color: #2F1940; /* Color original al presionar */
    -fx-border-color: #000000; /* Color del borde al presionar */
}

.border-pane {
    -fx-border-color: black; /* Color del borde */
    -fx-border-width: 2; /* Grosor del borde */
    -fx-border-style: solid; /* Estilo del borde */
    -fx-padding: 10; /* Opcional: Espacio interno del BorderPane */
}

.border-pane {
    -fx-border-color: black; /* Color del borde */
    -fx-border-width: 2; /* Grosor del borde */
    -fx-border-style: solid; /* Estilo del borde */
    -fx-padding: 10; /* Opcional: Espacio interno del BorderPane */
}

/* rounded-textfield */
.rounded-textfield {
    -fx-background-radius: 30; /* Esquinas del fondo */
    -fx-border-radius: 30; /* Esquinas del borde */
    -fx-background-color: white;
    -fx-border-color: #2F1940;
    -fx-border-width: 2; /* Ancho del borde */
}

/* rounded-datepicker.css */
.rounded-datepicker {
    -fx-background-radius: 30; /* Radio de las esquinas del fondo del DatePicker */
    -fx-border-radius: 30; /* Radio de las esquinas del borde del DatePicker */
    -fx-background-color: white; /* Color de fondo del DatePicker */
    -fx-border-color: #2F1940; /* Color del borde del DatePicker */
    -fx-border-width: 2; /* Ancho del borde del DatePicker */
}

.rounded-datepicker .text-field {
    -fx-background-radius: 30; /* Radio de las esquinas del campo de texto */
    -fx-border-radius: 30; /* Radio de las esquinas del borde del campo de texto */
    -fx-border-color: white; /* Color del borde del campo de texto */
    -fx-border-width: 2; /* Ancho del borde del campo de texto */
}

/* Cambiar el color de la fecha seleccionada */
.date-picker .cell {
    -fx-background-color: transparent; /* Fondo transparente para las celdas */
}

.date-picker .cell:focused {
    -fx-background-color: #2F1940; /* Color de fondo del cuadrado de fecha seleccionada */
    -fx-text-fill: white; /* Color del texto en la fecha seleccionada */
}

/* Cambiar el color de la celda cuando el cursor pasa sobre ella */
.date-picker .cell:hover {
    -fx-background-color: #2F1940; /* Color de fondo del cuadrado de fecha seleccionada */
    -fx-text-fill: white; /* Color del texto en la fecha seleccionada */
}

/* ComBbo Box */
.combo-box {
    -fx-background-radius: 30; /* Esquinas del fondo */
    -fx-border-radius: 30; /* Esquinas del borde */
    -fx-background-color: white;
    -fx-border-color: #2F1940;
    -fx-border-width: 2; /* Ancho del borde */
}

/* Estilo al pasar el cursor */
.combo-box .list-cell:hover {
    -fx-background-color: #2F1940;
    -fx-text-fill: white;
}

/* Fondo transparente para el recuadro detrás de las opciones */
.combo-box-popup .list-view {
    -fx-background-color: #2F1940;
}

/* Estilo para la opción seleccionada */
.combo-box .combo-box .list-cell:filled:selected:hover {
    -fx-background-color: #2F1940;
}

.combo-box .list-cell {
    -fx-background-color: white;
    -fx-text-fill: black;
    -fx-background-radius: 30; /* Esquinas del fondo */
    -fx-border-radius: 30; /* Esquinas del borde */
}
