.custom-background {
    -fx-background-color: #2F1940;
}

.custom-textWhite {
    -fx-text-fill: #ffffff;
}

.custom-textPurple {
    -fx-text-fill: #2F1940;
}

.custom-title {
    -fx-text-fill: #E1B958;
}

.border-pane {
    -fx-border-color: black; /* Color del borde */
    -fx-border-width: 2; /* Grosor del borde */
    -fx-border-style: solid; /* Estilo del borde */
    -fx-padding: 10; /* Opcional: Espacio interno del BorderPane */
}
