.custom-background {
    -fx-background-color: #2F1940;
}

.custom-textWhite {
    -fx-text-fill: #ffffff;
}

.custom-textPurple {
    -fx-text-fill: #2F1940;
}

.custom-title {
    -fx-text-fill: #E1B958;
}

/* rounded-textfield */
.rounded-textfield {
    -fx-background-radius: 30; /* Esquinas del fondo */
    -fx-border-radius: 30; /* Esquinas del borde */
    -fx-background-color: white;
    -fx-border-color: #2F1940;
    -fx-border-width: 2; /* Ancho del borde */
}

/* rounded-datepicker.css */
.rounded-datepicker {
    -fx-background-radius: 30; /* Radio de las esquinas del fondo del DatePicker */
    -fx-border-radius: 30; /* Radio de las esquinas del borde del DatePicker */
    -fx-background-color: white; /* Color de fondo del DatePicker */
    -fx-border-color: #2F1940; /* Color del borde del DatePicker */
    -fx-border-width: 2; /* Ancho del borde del DatePicker */
}

.rounded-datepicker .text-field {
    -fx-background-radius: 30; /* Radio de las esquinas del campo de texto */
    -fx-border-radius: 30; /* Radio de las esquinas del borde del campo de texto */
    -fx-border-color: white; /* Color del borde del campo de texto */
    -fx-border-width: 2; /* Ancho del borde del campo de texto */
}

/* Cambiar el color de la fecha seleccionada */
.date-picker .cell {
    -fx-background-color: transparent; /* Fondo transparente para las celdas */
}

.date-picker .cell:focused {
    -fx-background-color: #2F1940; /* Color de fondo del cuadrado de fecha seleccionada */
    -fx-text-fill: white; /* Color del texto en la fecha seleccionada */
}

/* Cambiar el color de la celda cuando el cursor pasa sobre ella */
.date-picker .cell:hover {
    -fx-background-color: #2F1940; /* Color de fondo del cuadrado de fecha seleccionada */
    -fx-text-fill: white; /* Color del texto en la fecha seleccionada */
}
